header {
  width: 100vw;

  top: 0;
  background-color: black;
  color: white;
  font-size: 20px;
  z-index: 1;
  position: fixed;
}

nav {
  width: 100%;
  padding: 30px 0;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;

  color: gray;
  align-items: center;
  /* background-color: black; */
}

.nav__logo > img {
  width: 70px;
  height: 70px;
}

.nav__navigation {
  display: flex;
  align-items: center;
  gap: 30px;
}
