.normal {
  background-color: black;
  color: white;
  text-align: center;
  width: 700px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  font-weight: 800;
}

.kakao {
  background-color: #f7e111;
  color: black;
  width: 700px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  font-weight: 800;
}

.apple {
  background-color: white;
  color: black;
  width: 700px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  font-weight: 800;
  /* 두께 스타일 색깔 */
  border: 1px solid#dbdbdb;
}

.register {
  color: #0078ff;
  background-color: white;
  width: 700px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 800;
}

.button {
  border: 1px solid #0078ff;
  border-radius: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
}
