.normal {
  background-color: black;
  color: white;
}

.kakao {
  background-color: #f7e111;
  color: black;
}

.apple {
  background-color: white;
  color: black;

  /* 두께 스타일 색깔 */
  border: 1px solid#dbdbdb;
}

/* 중복되는것, 완전 똑같은 것은 하나로 처리하고 상속해주면 됨 */
.button2 {
  width: 700px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  font-weight: 800;
}

.register {
  color: #0078ff;
  background-color: white;
  width: 700px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 800;
}

.button {
  border: 1px solid #0078ff;
  border-radius: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
}
