.find_layout {
  background-color: #4a76ba;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 40px;

  width: fit-content;
  padding: 30px;
}

.find_button {
  border: 1px solid #dbdbdb;
  border-radius: 14px;
  width: 150px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  cursor: pointer;
}

.text {
  font-weight: 700;
}

.red {
  color: #fe696a;
}

.blue {
  color: #4476fe;
}

/*  */
/*  */
/*  */

.find_layout2 {
  display: flex;
  padding: 30px;
  background-color: white;
  gap: 20px;
  width: fit-content;
  justify-content: center;
  /* border: 1px solid black; */
}

.find_button2 {
  /* border: 1px solid black; */

  width: 75px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.icon2 {
  /* border: 1px solid black; */
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.text2 {
  font-weight: 400;
  font-size: 12px;
  text-align: ce;
}
