header {
  width: 100vw;
  position: fixed;
  background-color: var(--primary-purple-300);
}

nav {
  display: flex;
  width: 80%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1500px;
  gap: 20px;
}

.logoBox > span {
  font-size: 30px;
  font-weight: 800;
}

.siteBox {
  display: flex;
  gap: 20px;
  font-weight: 800;
}

.siteBox > span {
  font-weight: 800;
  padding: 10px;
}

.siteBox > li:hover {
  color: violet;
  cursor: pointer;
}
